.header_block {
    margin: 20px 15px 10px 40px;

    .btns {
        color: #ffffff;
        filter: drop-shadow(0px 2px 4px #000000);
        font-weight: 800;
        font-size: 18px;
        line-height: 27px;

        ul {
            display: flex;
            flex-direction: row;
            li:not(:last-child) {
                margin-right: 40px;
            }
            li {
                transition: 0.3s;
            }

            li:hover {
                cursor: pointer;
                scale: 120%;
                transition: 0.4s;
            }
        }
    }


}


@media screen and (min-width: 601px) and (max-width: 1023px) {
    .header_block {
        .btns {
            font-weight: 800;
            font-size: 24px;
            line-height: 27px;
            ul {
                width: calc(100vw - 100px);
                justify-content: space-between;
                li:not(:last-child) {
                    margin-right: 40px;
                }
            }
        }
    }
}

@media screen and (min-width: 521px) and (max-width: 600px) {
    .header_block {
        .btns {
            font-size: 24px;
            ul {
                li:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
}
@media screen and (min-width: 436px) and (max-width: 520px) {
    .header_block {
        margin-left: 20px;
        .btns {
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            ul {
                justify-content: space-between;
                width: calc(100vw - 65px);
                li:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 435px) {
    .header_block {
        margin-left: 5px;
        .btns {
            font-weight: 800;
            font-size: 16px;
            line-height: 10px;
            ul {
                justify-content: space-between;
                width: calc(100vw - 65px);
                li:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
}