.header_block {
    min-height: 30px;
    position: relative;  
    /* margin: 18px 20% 0 20%; */
    /* margin: 10px auto; */
    margin: 20px 0 0 40px;
}

.btns {
    color: #ffffff;
    filter: drop-shadow(0px 2px 4px #000000);
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
}
.btns>ul {
    display: flex;
    flex-direction: row;
}
.btns > ul > li{transition: 0.3s;}
.btns > ul > li:not(:last-child){margin-right:40px;}
.btns > ul > li:hover{
    cursor: pointer;
    scale:120%;
    transition: 0.4s;
}

@media screen and (min-width: 1200px){
}