*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    position: absolute;
    z-index: 95;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 100px;
    .box{
        margin-left: 40px;
    }
    .open{
        // height: 90vh;
        height: 91vh;
        transition: 0.7s;
    }
    .closed{
        height: 0px;
        transition: 2s;
    }
}

