*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    position: absolute;
    z-index: 95;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    min-width: 100px;
    .box{
        margin-left: 40px;
    }
}